@import '../../styles/theme';

$navbar-height: 64px;

.Layout {
  // This layout needs to control the full page area
  width: 100vw;
  height: 100vh;

  .page-content {
    height: 100%;
  }

  &.layout--navbar-top {
    .page-content {
      padding-top: $navbar-height;
    }
  }

  &.layout--navbar-bottom {
    .page-content {
      padding-bottom: $navbar-height;
    }
  }
}
